.tag-input {
  margin-top: 8px;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--secondary-bg);
  color: var(--text-color)
}

.tag.has-tag {
  background-color: var(--primary-color);
}

.tag.no-tag {
  background-color: var(--secondary-bg);
  opacity: 0.7;
}

.tag:hover {
  opacity: 0.9;
}

.edit-icon {
  margin-left: 6px;
  font-size: 0.8em;
  opacity: 0.7;
}

.tag-input form {
  display: flex;
  align-items: center;
}

.tag-input input {
  flex: 1;
  padding: 6px 12px;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 0.9em;
  outline: none;
  background-color: var(--card-background);
  color: var(--text-color);
}

.tag-input input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.tag-input button {
  padding: 6px 12px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.tag-input button:hover {
  background-color: var(--secondary-color);
}

.tag-input button svg {
  width: 16px;
  height: 16px;
}